body, html{
	margin: 0;
	padding: 0;
}

.nojqcontainer{
	position:relative;
	width: 100%;
}
.nojqcontainer .nojqimgcontainer{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: auto;
}
.nojqcontainer .nojqimgcontainer .nojqimgitem{
	width: 100%;
	height: 100%;
	display: block;
}

.nojqcontainer .nojqtitledesccontainer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.8);
	z-index: 2;
}
.nojqcontainer .nojqcontrolscontainer{
	
}

.nojqcontainer .nojqcontrolscontainer .nojqprevitem, .nojqcontainer .nojqcontrolscontainer .nojqnextitem{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	background: #eee;
	z-index: 9999;
}

.nojqcontainer .nojqcontrolscontainer .nojqprevitem{
	left: 0;
}
.nojqcontainer .nojqcontrolscontainer .nojqnextitem{
	right: 0;
}
.nojqtitlecontainer {
	display:none;
	color:white;
	 animation: fadein 2s;

}


.nojqtitleitem {
	text-align:center;
	font-size:25px;
	font-weight:bold;

}

.nojqtitlecontainer {
	text-align: center;
	margin-top: -12px;

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
